  <!DOCTYPE html>
  <html layout:decorate="~{correo/plantillas/plantillaCorreoCliente}" xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>Suscripcion cancelada</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
  </head>
   <body>
   		<div layout:fragment="mensaje">
   			<p>Lamento que hayas solicitado la cancelación de tu suscripción. Recuerda que la cancelación se hará efectiva al final del período actual y que mientras tanto
   			puedes seguir entrenando. Si cambias de opinión, todavía puedes reactivar tu suscripción entrenado en tu área personal, accediendo a "Suscripción" a través del menú y pulsando el botón
   			 "activar suscripción".</p>
   		</div>
    </body>
  </html>