  <!DOCTYPE html>
  <html layout:decorate="~{correo/plantillas/plantillaCorreoCliente}" xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>Renovación próxima</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
  </head>
   <body>
   		<div layout:fragment="mensaje">
   			<p>En los próximos días tu suscripción será renovada automáticamente. No tienes que hacer nada, el cargo de la cuota de suscripción se hará en la última tarjeta que utilizaste.</p>
   			<p>Por otro lado, desde este mismo instante, tu entrenador ya está elaborando los próximos entrenamientos y en breves se pondrá en contacto contigo para programar una nueva videoconferencia.</p>
   		</div>
    </body>
  </html>