  <!DOCTYPE html>
  <html layout:decorate="~{correo/plantillas/plantillaCorreoCliente}" xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>Reactivación suscripción</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
  </head>
   <body>
   		<div layout:fragment="mensaje">
   			<p>¡Enhorabuena!, Tu cuenta está de nuevo activa y puedes entrar mediante el botón de acceso a miembros. ¡En breves te asignaremos tu entrenador!.</p>
   		</div>
    </body>
  </html>