  <!DOCTYPE html>
  <html layout:decorate="~{correo/plantillas/plantillaCorreoEntrenador}" xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>Cliente con renovación preparada</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
  </head>
   <body>
   		<div layout:fragment="mensaje">
   			<p> El cliente <span th:text="${clienteNombre}"></span> renovará en breves su suscripción (revisa que no haya cancelado la suscripción) y ya puedes comenzar a preparar sus próximos entrenamientos. A su vez ya puedes contactar con él para programar la videoconferencia.</p>
   		</div>
    </body>
  </html>