  <!DOCTYPE html>
  <html layout:decorate="~{correo/plantillas/plantillaCorreoEntrenador}" xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>Correo de error</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
  </head>
   <body>
   		<div layout:fragment="mensaje">
   			<p> El cliente <span th:text="${clienteNombre}"></span> actualizó sus datos. Revísalos para individualizar y adaptar sus próximos entrenamientos.</p>
   		</div>
    </body>
  </html>