<!doctype html>
<html layout:decorate="~{plantillaInicio}">
  <head>
    <title>Política cookies</title>
    <meta name="robots" th:content="${metaRobotsNoindex}"/>
  </head>
  <body>
  
  	<div layout:fragment="content" class="row">
  		<div class="container" style="min-height: 100vh">
	  		<div id="politicaCookiesFragment" th:fragment="politicaCookiesFragment" class="row mb-4">
	  		  	<div class="col">
	  		  		<p>La presente política de cookies tiene por finalidad informarle de manera clara y precisa sobre las cookies que se utilizan en la página web pocketrainer.es.</p>
		
					<h4>¿Qué son las cookies?</h4>
	
					<p>Una cookie es un fichero que se descarga en su ordenador al acceder a determinadas páginas web. Las cookies permiten a las páginas web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario.</p>						
					<h4>Tipos de cookies</h4>
					
					<p>Según quién sea la entidad que gestione el dominio desde dónde se envían las cookies y se traten los datos que se obtengan, se pueden distinguir dos tipos: cookies propias y cookies de terceros.</p>
	
					<p>Existe también una segunda clasificación según el plazo de tiempo que permanecen almacenadas en el navegador del cliente, pudiendo tratarse de cookies de sesión o cookies persistentes.</p>
	
					<p>Por último, existe otra clasificación con cinco tipos de cookies según la finalidad para la que se traten los datos obtenidos: cookies técnicas, cookies de personalización, cookies de análisis, cookies publicitarias y cookies de publicidad comportamental.</p>
	
					<p><b>Cookies técnicas:</b> Son aquéllas que permiten al usuario la navegación a través de una página web, plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existan como, por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de compra de un pedido, realizar la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación, almacenar contenidos para la difusión de videos o sonido o compartir contenidos a través de redes sociales.</p>
					<p><b>Cookies de personalización:</b> Son aquéllas que permiten al usuario acceder al servicio con algunas características de carácter general predefinidas en función de una serie de criterios en el terminal del usuario como por ejemplo serian el idioma, el tipo de navegador a través del cual accede al servicio, la configuración regional desde donde accede al servicio, etc.</p>
	                <p><b>Cookies de análisis:</b> Son aquéllas que permiten al responsable de las mismas, el seguimiento y análisis del comportamiento de los usuarios de los sitios web a los que están vinculadas. La información recogida mediante este tipo de cookies se utiliza en la medición de la actividad de los sitios web, aplicación o plataforma y para la elaboración de perfiles de navegación de los usuarios de dichos sitios, aplicaciones y plataformas, con el fin de introducir mejoras en función del análisis de los datos de uso que hacen los usuarios del servicio.</p>
	                <p><b>Cookies publicitarias:</b> Son aquéllas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o plataforma desde la que presta el servicio solicitado en base a criterios como el contenido editado o la frecuencia en la que se muestran los anuncios.</p>
					<p><b>Cookies de publicidad comportamental:</b> Son aquellas que almacenan información del comportamiento de los usuarios obtenida a través de la observación continuada de sus hábitos de navegación, lo que permite desarrollar un perfil específico para mostrar publicidad en función del mismo.</p>
					<h4>Cookies utilizadas en la web</h4>
					
					<p>A continuación se identifican las cookies que están siendo utilizadas en este portal así como su tipología y función:</p>
					<ul>
						<li>
							Cookie propia, de sesión y técnica denominada POCKETRAINER_JSESSIONID. Esta cookie permite almacenar un identificador único por sesión a través del que es posible vincular datos necesarios para posibilitar la navegación en curso.
						</li>
<!-- 						<li> -->
<!-- 							Cookie propia, persistente y técnica denominada POCKETRAINER_IDIOMA. Esta cookie permite identificar el idioma del usuario sin necesidad de que este inicie una sesión. Tiempo de vida de 365 días. -->
<!-- 						</li> -->
						<li>
							Cookie propia, persistente y técnica denominada POCKETRAINER_CONSENTIMIENTO. Esta cookie permite saber si el usuario aceptó la política de cookies. Tiempo de vida de 365 días.
						</li>
					</ul>
					

					<h4>Cómo modificar la configuración de las cookies</h4>
					
					<p>Usted puede restringir, bloquear o borrar las cookies de pocketrainer.es o cualquier otra página web utilizando su navegador. En cada navegador la operativa es diferente, en la mayoría de los casos la función de "Ayuda" le mostrará cómo hacerlo o puede visitar la página oficial del explorador y buscar la sección donde expliquen la gestión de cookies. A continuación se muestran unos enlaces para los exploradores más comunes:</p>
					<ul>
						<li>
						Cómo administrar cookies en <a target="_blank" href="https://support.google.com/chrome/answer/95647?hl=es">Google Chrome </a>
						</li>
						<li>
						Cómo administrar cookies en <a target="_blank" href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies">Microsoft Internet Explorer </a> 
						</li>
						<li>
						Cómo administrar cookies en <a target="_blank" href="https://privacy.microsoft.com/es-es/windows-10-microsoft-edge-and-privacy">Microsoft Edge </a>
						</li>
						<li>
						Cómo administrar cookies en <a target="_blank" href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias">Mozilla FireFox </a>
						</li>
						<li>
						Cómo administrar cookies en <a target="_blank" href="https://support.apple.com/es-es/guide/safari/sfri11471/mac">Apple Safari </a>
						</li>
					</ul>
		  		</div>	
	  		</div>
	  	</div>
  	</div>
  </body>
</html>