  <!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>Correo</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
  </head>
   <body>
   		<div layout:fragment="saludo"/>
   		
   		<div layout:fragment="mensaje"/>
   		
   		<div layout:fragment="contacto"/>
   		
   		<div layout:fragment="despedida"/>
   		
   		<div>
   			<img src="cid:logo" >
   		</div>
   		<div>
   			<span style="color: #0F4C81;">pocketrainer.es</span>
   		</div>
   		<div>
   			<span style="color: #0F4C81;">info@pocketrainer.es</span>
   		</div>
   		<br></br>
   		<div style="font-size: 12px;">
   			<p>De conformidad a lo dispuesto en la  actual normativa de Protección de Datos de Carácter personal, le informamos que el responsable de tratamiento de los datos de carácter personal recogidos en este documento es Educa Salud Global S.L., cuya finalidad es poder atender las consultas  y cualquier tipo de gestión realizada por este medio de comunicación. Sus datos no se cederán a terceros, salvo por obligación legal.</p>  
			<p>Tiene usted derecho a acceder, rectificar o suprimir los datos erróneos, solicitar la limitación del tratamiento de sus datos así como oponerse o retirar el consentimiento en cualquier momento. Para ello,  Educa Salud Global S.L.  dispone de formularios específicos. Puede presentar su propia solicitud o solicitar nuestros formularios, siempre acompañados de una copia de su DNI para acreditar su identidad en: info@pocketrainer.es.</p> 
			<p>Puede consultar la información adicional y detallada sobre Protección de Datos solicitándola en info@pocketrainer.es</p>
			<p>Ninguna parte de este documento puede ser reproducida, ni introducida en ningún sistema de recuperación, ni transmitida de ninguna forma, ni por ningún medio, ya sea electrónico, mecánico por fotocopia, grabación o de otro tipo, con ningún propósito, sin la autorización por escrito del titular de este documento. Los nombres de compañías, personas o productos reales aquí mencionados pueden ser marcas comerciales de sus respectivos propietarios.</p> 
			<p>Este mensaje, y en su caso, cualquier fichero anexo al mismo, puede contener información confidencial, siendo para uso exclusivo del destinatario, quedando prohibida su divulgación copia o distribución a terceros sin la autorización expresa del remitente. Si Vd. ha recibido este mensaje erróneamente, se ruega lo notifique al remitente y proceda a su borrado.</p>
   		</div>
    </body>
  </html>